.app{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
}
.main{
    margin-left: 15%;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    .main{
        margin-left: 0px;
    }
}